<header>
	<h1>Eat Da Burger!</h1>
</header>

<div class="wrapper">
	<div id="create-burger">
		<form action="/burgers" method="POST">
			<input id="burger_name" type="text" name="burger_name" placeholder="Cook your own burger!">
			<button id="submit-btn" type="submit">Submit</button>
		</form>
	</div>

	<section id="burgers-container">
 <div id="burgernoteaten"class="col-4 col-md-4  col-sm-6">
   <h2>Burgers Not Eaten</h2>
    <div class="col-12 col-md-12 col-sm-6">
       <ul class="noteaten">
      {{#each burgers}}
       {{#unless this.devoured}}
      <li class="list-group-item">
        <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
          <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
        </form>
      </li>
      {{/unless}} {{/each}}
      </ul>
    </div>
  </div>
		<div id="burgers-devoured">
			<h2>Burgers Devoured</h2>
			{{#each burgers}}
				{{#if this.devoured}}
				  <div class="burger">{{burger_name}} <span>#{{id}}</span></div>
				{{/if}}
			{{/each}}
		</div>
	</section>
</div>